*{
    font-family: Vazirmatn FD;
    direction: rtl;
    box-sizing: border-box;
}
main>div{
    float: right;
    width: 33.3%;
    border: .5px solid #f2f2f2;
}
main>div>p{
    text-align: justify;
    padding: 15px;
}
main>div>img{
    width: 70%;
    display: block;
    margin: 0px auto;
}
main>div>h3{
    text-align: center;
}
main>div>a{
    text-decoration: none;
    background-color: #a2a2a2;
    padding: 5px;
    width: 80%;
    color: black;
    margin: 5px auto ;
    display: block;
    text-align: center;
    border-radius: 5px;
}
main>div>a:hover{
    background-color: #c2c2c2;
}
footer>div{
    float: right;
    width: 33.3%;
}
footer>div>a{
    display: block;
}
footer>div>img{
    width: 50%;
}